:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

.homecontainer {
  background-image: linear-gradient(to right, #14805e 0%, #2196f3 100%);
  background-size: cover;
  background-repeat: no-repeat;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans, sans-serif;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100vh;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  align-items: center;
}

.display {
  grid-column: 1 / -1;
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.display span {
  font-size: 12px;
  color: var(--secondary);
}

.operators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  width: 100px; /* Adjusted width to fit all buttons */
  height: 75px; /* Adjusted height to fit all buttons */
  font-size: 18px;
}

.math-opr {
  background-color: orange;
  color: white;
}

#zero.btn {
  width: 200px;
  grid-column: span 2; /* Makes the zero button span two columns */
}
