:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --dark: #131a26;
  --light: #eee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans, sans-serif;
}

body {
  background-color: var(--light);
}

.App {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vh;
  max-width: 400px;
  background-color: #fff;
  border-radius: 16px;
  overflow: hidden;
  align-items: center;
  align-content: center;
  box-shadow: 0 2px 64px rgba(0, 0, 0, 0.2);
}

.display {
  grid-column: 1 / -1;
  padding: 16px;
  text-align: right;
  background-color: grey;
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
}

.dislay span {
  font-size: 14px;
  color: #8c38ff;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  background-color: #131a26;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  opacity: 0.9;
  background-color: #8c38ff;
}

.operators {
  display: grid;
  grid-column: 4;
  grid-row: span 4;
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--light);
}

.operators button {
  flex: 1 1 0%;
  background-color: orange;
  font-weight: 700;
}

.operators button:hover {
  background-color: #8c38ff;
}

.digits button.zero {
  grid-column: span 2;
}

.digits,
.scienceo {
  display: grid;
  grid-column: span 3;
  grid-template-columns: repeat(3, 1fr);
}
